*{
	margin: 0;
	padding: 0;
}

.navbar{
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #026181;
	padding: 30px 0;
	color: white;
}

.nav-links{
	display: flex;
	gap: 15px;
}

ul{
	list-style:none;
}


.about, .contact{
	padding: 60px 0;
	text-align: center;
}

.desc, .my-contact{
	margin-top: 15px;
}

.projects{
	display: flex;
	flex-direction: column;
	padding: 23px 0;
	align-items: center;
	background-color: #026181;
	color: white;

}

.desc{
	margin-top: 15px;
}

.project1{
	display: flex;
	flex-direction: column;
	max-width: 770px;
	align-items: center;
	border: 3px solid #026181;
}

.form{
	text-align: center;
	background-color: #026181;
	color: white;
}

.my-form{
	display: flex;
	flex-direction: column;
	padding: 23px 0;
	align-items: center;
	background-color: #026181;
}

.msg{
	margin: 20px 0;
}

button{
	font-size: 20px;
}